<div class="container login-container">
  <div class="login-title mb-4">
    <img class="login-img mb-2" src="assets/images/icons/logo.svg" />
    <h2>LOGIN</h2>
  </div>
<form
  class="form-horizontal form-material col-8"
  id="loginform"
  autocomplete="off"
  [formGroup]="loginForm"
  (ngSubmit)="login()"
>
  <div class="form-group m-t-40">
    <div class="col-xs-12">
      <label>Email</label>
      <input
        class="form-control"
        type="email"
        placeholder="email@unal.edu.co"
        formControlName="email"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <label>Password</label>
      <input
        class="form-control"
        type="password"
        placeholder="*******"
        formControlName="password"
      />
    </div>
  </div>
  <div class="form-group text-center m-t-20">
    <div class="col-xs-12">
      <button
        class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
        type="submit"
      >
        Log In
      </button>
    </div>
  </div>
  <div class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-12 m-t-10 mb-4 text-center"
      id="google-btn"
    >
      <div id="my-signin2"></div>
    </div>
  </div>
  <div class="form-group m-b-0">
    <div class="col-sm-12 text-center">
      ¿No tienes una cuenta?
      <a routerLink="/register" class="text-primary m-l-5"><b>Registrate</b></a>
    </div>
  </div>
</form>

</div>