<div class="container foro-container" *ngIf="!showDetail; else detail">
    <h2>Foro Nivel A1</h2>
    <div class="row">
        <div class="col-xm-6">
            <div class="list">
                <div class="card">
                    <div class="card-header">
                        Lista de entradas
                        <button class="btn btn-primary button-add" (click)="showForm()"> Agregar Entrada </button>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item list-thread" *ngFor="let thread of threads" (click)="openThread(thread)">{{thread.title}}</li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>

    <app-thread-form *ngIf="formVisible" class="form-bottom"></app-thread-form>
</div>


<ng-template #detail>
    <app-forum-detail [thread]="threadSelected" (back)="hideDetail($event)"></app-forum-detail>
</ng-template>
    
