<div class="container vocabulary-container">
  <button
    class="btn btn-outline-primary p-2 m-3"
    (click)="obtenerQuiz()"
    *ngIf="!showQuiz; else wordSection"
  >
    Comenzar
  </button>

  <ng-template #wordSection>
<div class= "container" >
  <h2>This Week Quiz</h2>
  <div class= "card">
    <div class="card-header">
      Quiz
    </div>

    <div class = "card-body">

      <form
        novalidate
        [formGroup]="userQuizForm"
        (ngSubmit)="sendQuiz()"
      >
        <ul>
        <div class="form-group">
          <label class="form-label"> {{thisWeekQuiz[0]}}</label>
          <input type = "text" class= "form-control" placeholder="Word 1" formControlName= "word1"/>
        </div>

        <div class="form-group">
          <label class="form-label"> {{thisWeekQuiz[1]}}</label>
          <input type = "text" class= "form-control" placeholder="Word 2" formControlName= "word2"/>
        </div>
        <div class="form-group">
          <label class="form-label"> {{thisWeekQuiz[2]}}</label>
          <input type = "text" class= "form-control" placeholder="Word 3" formControlName= "word3"/>
        </div>
        <div class="form-group">
          <label class="form-label"> {{thisWeekQuiz[3]}}</label>
          <input type = "text" class= "form-control" placeholder="Word 4" formControlName= "word4"/>
        </div>
        <div class="form-group">
          <label class="form-label"> {{thisWeekQuiz[4]}}</label>
          <input type = "text" class= "form-control" placeholder="Word 5" formControlName= "word5"/>
        </div>
        <div class="form-group">
          <label class="form-label"> {{thisWeekQuiz[5]}}</label>
          <input type = "text" class= "form-control" placeholder="Word 6" formControlName= "word6"/>
        </div>
        <div class="form-group">
          <label class="form-label"> {{thisWeekQuiz[6]}}</label>
          <input type = "text" class= "form-control" placeholder="Word 7" formControlName= "word7"/>
        </div>
        <div class="form-group">
          <label class="form-label"> {{thisWeekQuiz[7]}}</label>
          <input type = "text" class= "form-control" placeholder="Word 8" formControlName= "word8"/>
        </div>
        <div class="form-group">
          <label class="form-label"> {{thisWeekQuiz[8]}}</label>
          <input type = "text" class= "form-control" placeholder="Word 9" formControlName= "word9"/>
        </div>
        <div class="form-group">
          <label class="form-label"> {{thisWeekQuiz[9]}}</label>
          <input type = "text" class= "form-control" placeholder="Word 10" formControlName= "word10"/>
        </div>
        </ul>
        <button class="btn btn-success m-3"  (click)="close()" type="submit">Enviar</button>
        <button class="btn btn-success m-3"  routerLink="/learn/weekQuiz" type="submit">Salir</button>
      </form>
    </div>
  </div>
</div>
  </ng-template>
</div>
