<div class="container classification-container">
    <div class="classification-form classification-list mt-5">
      <h3>Niveles</h3>
      <div class="classification-list-content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nivel</th>
              <th scope="col">Categoria</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let classification of classification"> 
              <td>{{ classification.id }}</td>
              <td>{{ classification.level }}</td>
              <td>{{ classification.type }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>