<div class="container">
  <h2>Soporte</h2>
  <div class="row">
    <div class="col-xm-6">
      <div class="list">
        <div class="card">
          <div class="card-header">Lista de tickets <button class="btn btn-primary button-add" (click) ="showForm()">Agregar ticket</button></div>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item list-thread"
              *ngFor="let ticket of tickets"
            >
              {{ ticket.issue }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="form-bottom" *ngIf="formVisible">
    <div class="card mx-2">
      <div class="card-header">Agregar Ticket</div>
      <div class="card-body">
        <form
          class="form-horizontal form-material"
          id="loginform"
          autocomplete="off"
          [formGroup]="ticketForm"
          (ngSubmit)="sendTicket()"
        >
          <div class="form-group m-t-40">
            <div class="col-xs-12">
              <textarea
                class="form-control"
                placeholder="Issue"
                formControlName="issue"
                rows="3"
              ></textarea>
            </div>
          </div>

          <div class="form-group m-t-40">
            <div class="col-xs-12">
              <input
                class="form-control"
                placeholder="Section"
                formControlName="section"
              />
            </div>
          </div>

          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button
                class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
                type="submit"
              >
                Enviar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
