<div class="container vocabulary-container">
  <button
    class="btn btn-outline-primary p-2 m-3"
    (click)="verExamsQuizzes()"
    *ngIf="!show; else wordSection"
  >
    Mostrar Examenes
  </button>
  <ng-template #wordSection>
<div class= "container" >
  <h2>All Exams</h2>
  <div class= "card">
    <div class="card-header">
      Exams Levels
    </div>
    <div class = "card-body">
      <ul>
  <li *ngFor = "let examLevel of allUserExams">
    <h4>User Id: </h4>
    <h6>{{examLevel.userId}}</h6>
    <h4>Nivel: </h4>
    <h6>{{examLevel.level}}</h6>
    <h4>Fecha: </h4>
    <h6>{{examLevel.date}}</h6>
    <h4>Palabras: </h4>
    <h6>{{examLevel.words}}</h6>
    <h4>Palabras Correctas: </h4>
    <h6>{{examLevel.correctWords}}</h6>
    <h4>Aprobado: </h4>
    <h6>{{examLevel.pass}}</h6>
  </li>
</ul>
    </div>
      <div class="card-header">
        Week Quizzes
      </div>
      <div class = "card-body">
<ul>
  <li *ngFor = "let userQuiz of allUserQuizzes">
    <h4>Id Quiz: </h4>
    <h6>{{userQuiz.idQuiz}}</h6>
    <h4>User Id: </h4>
    <h6>{{userQuiz.userId}}</h6>
    <h4>Fecha: </h4>
    <h6>{{userQuiz.date}}</h6>
    <h4>Palabras: </h4>
    <h6>{{userQuiz.words}}</h6>
    <h4>Palabras Correctas: </h4>
    <h6>{{userQuiz.correctWords}}</h6>
    <h4>Puntaje: </h4>
    <h6>{{userQuiz.score}}</h6>
  </li>
</ul>
    </div>
  </div>
</div>
    </ng-template>
</div>
