<div class="container weekQUiz-container">
  <div class="weekQUiz-title my-3">
    <h1>Week Quiz</h1>
  </div>
  <div class="row weekQUiz-content mb-3">
    <div class="col-lg-4 p-0 weekQUiz-left-panel">
      <div class="weekQUiz-content-title px-4">
      </div>
      <div class="weekQUiz-content-list">
<ul>
  <li *ngFor = "let userQuiz of userQuizes">
    <h4>Id Quiz: </h4>
    <h6>{{userQuiz.idQuiz}}</h6>
    <h4>User Id: </h4>
    <h6>{{userQuiz.userId}}</h6>
    <h4>Fecha realizacion Quiz: </h4>
    <h6>{{userQuiz.date}}</h6>
    <h4>Palabras dentro del quiz: </h4>
    <h6>{{userQuiz.words}}</h6>
    <h4>Puntaje: </h4>
    <h6>{{userQuiz.score}}</h6>
  </li>
</ul>
      </div>
    </div>
    <div class="col-lg-8 p-0">
    </div>
  </div>
</div>
