<div id="mySidenav" class="sidenav">
  <div class="sidenav-title mb-4">
    <img class="sidenav-img mb-2" src="assets/images/icons/logo.svg" />
    <h2>UNRACOON</h2>
  </div>
  <div class="sidenav-content">
    <a class="sidenav-link" routerLink="/learn">
      <fa-icon class="fa-icon" [icon]="faUser"></fa-icon> Perfil</a
    >
    <a class="sidenav-link" routerLink="/learn/vocabulary">
      <fa-icon class="fa-icon" [icon]="faFont"></fa-icon> Vocabulario</a
    >
    <a class="sidenav-link" routerLink="/learn/exam">
      <fa-icon class="fa-icon" [icon]="faCheck"></fa-icon> Examen</a
    >
    <a class="sidenav-link" routerLink="/learn/foro">
      <fa-icon class="fa-icon" [icon]="faUsers"></fa-icon> Foro</a
    >
    <a class="sidenav-link" routerLink="/learn/support">
      <fa-icon class="fa-icon" [icon]="faInfoCircle"></fa-icon> Soporte</a
    >
  </div>
</div>
