<div class="forum-content-title px-4">
  <h3>Entradas</h3>
  <button class="btn button-add" (click)="showForm()">
    <fa-icon class="fa-icon" [icon]="faPlus"></fa-icon>
  </button>
</div>

<div class="forum-detail-content" *ngIf="thread; else noThread">
  <div class="card">
    <div class="card-header card-entry">
      <h3>{{ thread.title }}</h3>
      <div class="row pl-4">
        <h6>Por: {{ thread.userName }}</h6>
      </div>
    </div>
    <div class="card-body">
      <p>{{ thread.description }}</p>
    </div>
  </div>

  <div class="forum-detail-entrys">
    <div class="no-thread" *ngIf="entrys.length === 0" >
        <img class="no-thread-img mb-2" src="assets/images/icons/foro.svg" />
        <h3>No hay entradas</h3>
    </div>
    <ul class="entrys-list">
      <li *ngFor="let entry of entrys">
        <div class="card my-3">
          <div class="card-header card-entry">
            <h3>Re: {{ thread.title }}</h3>
            <div class="row pl-5">
              <h6>Por: {{ entry.userName }}</h6>
            </div>
          </div>
          <div class="card-body">
            <p>{{ entry.message }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="form-bottom" *ngIf ="formVisible">
    <div class="card mx-2 form-card">
      <div class="card-header">
        <h3>Agregar Entrada</h3>
        <button class="btn button-close-form" (click)="formVisible = false">
          <fa-icon class="fa-icon" [icon]="faClose"></fa-icon>
        </button>
      </div>
      <div class="card-body">
        <form
        id="loginform"
        autocomplete="off"
        [formGroup]="entryForm"
        (ngSubmit)="sendEntry()"
      >
          <div class="col-xs-12 form-content-bottom">
            <label class="form-label"> Mensaje</label>
            <textarea
              class="form-control textarea-form"
              placeholder="Message"
              formControlName="message"
            > </textarea>
          </div>
    
          <div class="col-xs-12 button-form-bottom">
            <button
              class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
              type="submit"
            >
              Enviar
            </button>
          </div>
      </form>
      </div>
    </div>
  </div>

  
 
</div>

<ng-template #noThread>
  <div class="no-thread">
    <img class="no-thread-img mb-2" src="assets/images/icons/foro.svg" />
    <h3>Selecciona un debate</h3>
  </div>
</ng-template>
