/* You can add global styles to this file, and also import other style files */

.main-container {
    height: 100vh;
    width: 100vw;
    background: rgb(255,0,108);
    background: linear-gradient(353deg, rgba(255,0,108,1) 0%, rgba(169,0,235,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.router-container {
    width: 95%;
    height: 90%;
    background-color: white;
}

.main-wrapper {
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.form-bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 35%;
    min-height: 200px;
    max-height: 400px;
    width: 25%;
    min-width: 200px;
    max-width: 400px;
}

.button-add {
    border-radius: 16px !important;
}