  <div class="card mx-2 form-card">
    <div class="card-header">
      <h3>Agregar Thread</h3>
      <button class="btn button-close-form" (click)="close()">
        <fa-icon class="fa-icon" [icon]="faClose"></fa-icon>
      </button>
    </div>
    <div class="card-body">
      <form
        class="form-horizontal form-material"
        id="loginform"
        autocomplete="off"
        [formGroup]="threadForm"
        (ngSubmit)="sendThread()"
      >
        <div class="col-xs-12">
          <label class="form-label"> Titulo </label>
          <input
            class="form-control"
            placeholder="Title"
            formControlName="title"
          />
        </div>

        <div class="col-xs-12">
          <label class="form-label"> Descripción</label>
          <textarea
            class="form-control textarea-form"
            pplaceholder="Description"
            formControlName="description"
          >
          </textarea>
        </div>

        <div class="col-xs-12 button-form-bottom">
          <button
            class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
            type="submit"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
